<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
        <add key="Log" value="C:\Work\log3"/>
    <add key="Server" value="naut"/>
    <add key="User" value="Lims"/>
    <add key="Password" value="lims"/>
    <add key="Interval" value="5000"/>
    
  </appSettings>
</configuration>
