<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Key is workstation id-->
    <!--valuse is crystal template path-->
    <add key="61" value="bla111.rpt"/>
    <add key="62" value="bla222.rpt"/>
    <add key="121" value="C:\Users\ashim\Desktop\shonot\DisplaySamples1.rpt"/>
    <add key="122" value="C:\Users\ashim\Desktop\shonot\DisplaySamples1.rpt"/>
  </appSettings>
</configuration>