<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <!--ONE1-->
   <add name="Entitie99999999s" connectionString="metadata=res://*/NautilusModel1.csdl|res://*/NautilusModel1.ssdl|res://*/NautilusModel1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=test1;password=lims;user id=LIMS&quot;" providerName="System.Data.EntityClient" />

    <!--PRODUCTION-->
    <add name="EntitiesProd" connectionString="metadata=res://*/NautilusModel1.csdl|res://*/NautilusModel1.ssdl|res://*/NautilusModel1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=TEST;password=lims;user id=LIMS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/NautilusModel1.csdl|res://*/NautilusModel1.ssdl|res://*/NautilusModel1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=micnaut;password=lims;user id=LIMS&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>